<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BLOG-DEMO - <%= category %></title>
    <% moment.locale("hu") %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans" rel="stylesheet" />
    <link rel="icon" href="/img/icons/smart-bee.png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body id="page-top">
    <% include ../partials/header %>
    <!-- Fejléc és kereső szekció, az oldal főcíme és a fixen az oldal tetején maradó keresőmező -->
    <!-- Fejléc és kereső szekció lezárása -->

    <!-- A "Main" szekció, maga az oldal a bal oldali sávval és a tartalom konténerrel -->
    <main>
      <!-- A bal oldali "vezérlő, segítő" panel. Bio, social buttons, kategóriák, copyright -->
      <% include ../partials/controller %>
      <!-- A bal oldali "vezérlő" lezárása -->

      <!-- Maga a lényegi tartalom -->
      <article>
        <ul>
          <% blogs.forEach(function(blog) { %> <% if (moment().format('YYYY.MM.DD.') >=
          moment(blog.createdAt).format('YYYY.MM.DD.')) { %>
          <li class="post-preview">
            <a href="/blogs/<%= blog.id %>">
              <h3 class="post-title"><%= blog.title %></h3>
              <p class="post-description"><%= blog.subTitle %></p>
            </a>
            <div class="post-controller">
              <p>📅 <%= moment(blog.createdAt).format('YYYY.MM.DD.') %></p>
              <a href="/blogs/category/<%= blog.category %>" class="btn bg-<%= blog.category %>" role="button"
                ><%= blog.category %></a
              >
            </div>
          </li>
          <% } %> <% }) %>
        </ul>
      </article>

      <!-- Maga a lényegi tartalom lezárása -->
    </main>
    <!-- A "Main" szekció lezárása -->
    <section class="pagination">
      <% if (pages && pages > 0) { %> <% if (current == 1) { %>
      <a class="page-link">Első</a>
      <% } else { %>

      <a class="page-link" href="/blogs<%if(search){%>?search=<%=search%><%}%>">Első</a>

      <% } %> <% if (current == 1) { %>
      <a class="page-link">«</a>
      <% } else { %>
      <a
        class="page-link"
        href="/blogs?page= <%=Number(current) - 1 %>
              <%if(search){%>&search=
              <%=search%>
              <%}%>"
        >«</a
      >
      <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if (i !== 1) { %>
      <a class="page-link">...</a>
      <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <% if (i == current) { %>
      <a class="active"> <%= i %></a>
      <% } else { %>

      <a class="page-link" href="/blogs?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"> <%= i %></a>

      <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
      <a>...</a>
      <% } %> <% } %> <% if (current == pages) { %>
      <a class="page-link">»</a>
      <% } else { %>

      <a class="page-link" href="/blogs?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a>

      <% } %> <% if (current == pages) { %>
      <a class="page-link">Utolsó</a>
      <% } else { %>

      <a class="page-link" href="/blogs?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Utolsó</a>

      <% } %> <% } %>
    </section>

    <% include ../partials/bottom-menu %>

    <!-- theme switch (light/dark) -->
    <script>
      document.addEventListener('DOMContentLoaded', event => {
        (localStorage.getItem('mode') || 'dark') === 'dark'
          ? document.querySelector('body').classList.add('dark')
          : document.querySelector('body').classList.remove('dark');
      });
    </script>
  </body>
</html>
