<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="A Smart-Bee Web minimál blogja. Életről, vállalkozásról, webfejlesztésről" />
    <meta name="author" content="Majoros Tamás" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Smart-Bee smpl Blog" />
    <meta
      property="og:description"
      content="A Smart-Bee Web minimál blogja. Életről, vállalkozásról, webfejlesztésről"
    />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/maja0426/image/upload/v1556732748/Smartbee/smartbee_smpl_blog.jpg"
    />
    <meta property="og:url" content="https://smartbee.info" />

    <meta name="twitter:title" content="Smart-Bee smpl Blog" />
    <meta
      name="twitter:description"
      content="A Smart-Bee Web minimál blogja. Életről, vállalkozásról, webfejlesztésről"
    />
    <meta
      name="twitter:image"
      content="https://res.cloudinary.com/maja0426/image/upload/v1556732748/Smartbee/smartbee_smpl_blog.jpg"
    />
    <meta name="twitter:site" content="@SmartBeeWeb" />
    <meta name="twitter:creator" content="@SmartBeeWeb" />
    <title>Smart-Bee Blog</title>
    <% moment.locale("hu") %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans" rel="stylesheet" />
    <link rel="icon" href="/img/icons/smart-bee.png" />
    <link rel="stylesheet" href="/css/main.css" />

    <style>
      hr {
        margin-top: 1rem;
        margin-bottom: 2rem;
        height: 5px;
      }

      article {
        display: block;
        border: 1px dashed #000;
        padding: 1rem;
      }

      .LI-profile-badge {
        display: flex;
        justify-content: center;
        align-content: center;
      }

      .categories {
        display: flex;
        justify-content: flex-start;
        align-content: center;
      }
    </style>
  </head>

  <body id="page-top">
    <!-- Fejléc és kereső szekció, az oldal főcíme és a fixen az oldal tetején maradó keresőmező -->
    <section class="main-title">
      <header>
        <h1>EDIT POST</h1>
      </header>
    </section>
    <!-- Fejléc és kereső szekció lezárása -->

    <!-- A "Main" szekció, maga az oldal a bal oldali sávval és a tartalom konténerrel -->
    <main>
      <!-- A bal oldali "vezérlő, segítő" panel. Bio, social buttons, kategóriák, copyright -->
      <% include ../partials/controller %>
      <!-- A bal oldali "vezérlő" lezárása -->

      <!-- Maga a lényegi tartalom -->
      <section>
        <form
          action="/blogs/<%= blog._id  %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
          class="form-main"
        >
          <input
            class="form-control"
            type="text"
            name="blogs[title]"
            placeholder="A cikk címe, max. 170 karakter"
            maxlength="170"
            required
            autofocus
            value="<%=blog.title%>"
          />

          <input
            class="form-control"
            type="text"
            name="blogs[subTitle]"
            placeholder="Alcím"
            maxlength="170"
            required
            value="<%=blog.subTitle%>"
          />

          <% if (currentUser.isGuest) { %>
          <input
            class="form-control"
            type="text"
            name="blogs[writer]"
            placeholder="A cikk szerzője, max 20 karakter"
            maxlength="20"
            required
            value="<%= blog.writer %>"
          />
          <% } %>

          <h6>Kategória:</h6>

          <select class="custom-select font-weight-bold" name="blogs[category]" required>
            <option value="<%= blog.category %>" selected><%= blog.category %></option>
            <option value="Vállalkozás">Vállalkozás</option>
            <option value="Webfejlesztés">Webfejlesztés</option>
            <option value="Webfejlesztés">Svelte</option>
            <option value="Gondolatébresztő">Gondolatébresztő</option>
            <option value="Egyéb">Egyéb</option>
            <option value="Game">Game</option>
          </select>

          <label for="image"
            ><i class="fas fa-image"></i> Képfeltöltés
            <input
              type="file"
              id="image"
              class="input-image"
              value="https://res.cloudinary.com/maja0426/image/upload/v1550587836/Aprohirdetes/NoImageFound.png"
              name="image"
              accept="image/*"
          /></label>

          <textarea rows="30" class="form-control" placeholder="blog" name="blogs[description]" required>
<%- blog.description %></textarea
          >
          <!-- <article class="post-description">
            <%- marked(blog.description) %>
          </article> -->
          <% if (blog.author.id !== undefined) {%> <% if(currentUser && blog.author.id.equals(currentUser._id) ||
          currentUser && currentUser.isAdmin) { %>
          <section class="delete-form">
            <% if (blog.description) { %>
            <button class="btn">Post feltöltése</button>
            <% } %> <% } %>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
              <button class="btn btn-delete">Törlés!</button>
            </form>
            <a class="btn" href="/blogs" role="button">Vissza</a>
            <a class="btn btn-md" target="_blank" href="https://maja-md-editor.netlify.com" role="button"
              >Markdown Editor</a
            >
          </section>
          <% } %>
        </form>
      </section>

      <!-- Maga a lényegi tartalom lezárása -->
    </main>
    <!-- A "Main" szekció lezárása -->

    <a href="#page-top" id="back-to-top" class="back-to-top"
      ><img src="/img/awesome/chevron-up.svg" alt="felfelé nyíl"
    /></a>

    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

    <!-- Floating scroll script -->
    <script>
      var link = document.getElementById('back-to-top');
      var amountScrolled = 250;

      function addClass(el, className) {
        if (el.classList) {
          el.classList.add(className);
        } else {
          el.className += ' ' + className;
        }
      }

      function removeClass(el, className) {
        if (el.classList) el.classList.remove(className);
        else
          el.className = el.className.replace(
            new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'),
            ' '
          );
      }

      window.addEventListener('scroll', function(e) {
        if (window.scrollY > amountScrolled) {
          addClass(link, 'show');
        } else {
          removeClass(link, 'show');
        }
      });
    </script>

    <!-- theme switch (light/dark) -->

    <script>
      document.addEventListener('DOMContentLoaded', event => {
        (localStorage.getItem('mode') || 'dark') === 'dark'
          ? document.querySelector('body').classList.add('dark')
          : document.querySelector('body').classList.remove('dark');
      });
    </script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
  </body>
</html>
