<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="index,follow">
  <meta name="description" content="A Smart-Bee Web minimál blogja. Életről, vállalkozásról, webfejlesztésről">
  <meta name="author" content="Majoros Tamás">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Smart-Bee smpl Blog">
  <meta property="og:description" content="A Smart-Bee Web minimál blogja. Életről, vállalkozásról, webfejlesztésről">
  <meta property="og:image"
    content="https://res.cloudinary.com/maja0426/image/upload/v1556732748/Smartbee/smartbee_smpl_blog.jpg">
  <meta property="og:url" content="https://smartbee.info">

  <meta name="twitter:title" content="Smart-Bee smpl Blog">
  <meta name="twitter:description" content="A Smart-Bee Web minimál blogja. Életről, vállalkozásról, webfejlesztésről">
  <meta name="twitter:image"
    content="https://res.cloudinary.com/maja0426/image/upload/v1556732748/Smartbee/smartbee_smpl_blog.jpg">
  <meta name="twitter:site" content="@SmartBeeWeb">
  <meta name="twitter:creator" content="@SmartBeeWeb">
  <title>Smart-Bee smpl Blog</title>
  <% moment.locale("hu") %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <meta name="google-site-verification" content="vGo3kBx44lSryWLjxrV9UmeMVAWzYtn-0N6_ejOnaUg" />
</head>

<body id="page-top">

  <!-- Fejléc és kereső szekció, az oldal főcíme és a fixen az oldal tetején maradó keresőmező -->
  <section class="main-title">
    <header>
      <h1>SMARTBEE SMPL BLOG</h1>
    </header>

    <div class="searchbar">
      <form action="/blogs" method="GET">
        <label for="searchbar" aria-hidden="true">Keresés</label><br>
        <input type="search" name="search" id="searchbar" placeholder="Keresés">
        <!-- <button type="submit">Na nézzük...</button> -->
      </form>
    </div>
  </section>
  <!-- Fejléc és kereső szekció lezárása -->

  <!-- A "Main" szekció, maga az oldal a bal oldali sávval és a tartalom konténerrel -->
  <main>

    <!-- A bal oldali "vezérlő, segítő" panel. Bio, social buttons, kategóriák, copyright -->
    <aside>

      <section class="home-back">
        🐝 <a href="/">Kezdőlap</a>
      </section>

      <section>
        <!-- <header class="icons">
          <img src="/img/awesome/code.svg" alt="kód ikon">
          <img src="/img/awesome/dev.svg" alt="fejlesztés ikon">
          <img src="/img/awesome/html5.svg" alt="html5 ikon">
          <img src="/img/awesome/css3-alt.svg" alt="css3 ikon">
          <img src="/img/awesome/js.svg" alt="javascript ikon">
          <img src="/img/awesome/node-js.svg" alt="node.js ikon">
          <img src="/img/awesome/database.svg" alt="adatbázis ikon">
          <img src="/img/awesome/git.svg" alt="git ikon">
          <img src="/img/awesome/github.svg" alt="github ikon">
        </header> -->
        <p class="about-me">„Szeme villám! haja libeg! Hármas kört reá elébb, s csukja szemünk szent borzalom, mert mézen élt, mézharmaton, s itta a Mennyország tejét!”
        </p>
        <figure class="profile-photo">
          <img src="/img/DSC_0201.jpg" alt="Maja profile photo">
        </figure>
        <div class="social-follow">
          <a class="twitter-follow-button" href="https://twitter.com/SmartBeeWeb" data-size="large">
            Follow @SmartBeeWeb</a>
        </div>
      </section>

      <% if(currentUser && currentUser.isAdmin) { %>
      <section>
        <a class="btn new-btn" href="/blogs/new" role="button">Új post</a>
        <a class="btn new-btn" href="/logout" role="button">Logout</a>
      </section>
      <% } %>

      <section class="color-switcher">
         🌓 <a href="#!"
          onclick="localStorage.setItem('mode', (localStorage.getItem('mode') || 'dark') === 'dark' ? 'light' : 'dark'); localStorage.getItem('mode') === 'dark' ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark')"
          title="Világos/sötét mód" id="switch">Világos|Sötét</a>
      </section>

      <section class="categories">
        <a href="/blogs/category/Vállalkozás" class="btn bg-Vállalkozás">Vállalkozás</a>
        <a href="/blogs/category/Webfejlesztés" class="btn bg-Webfejlesztés">Webfejlesztés</a>
        <a href="/blogs/category/Gondolatébresztő" class="btn bg-Gondolatébresztő">Gondolatébresztő</a>
        <a href="/blogs/category/Egyéb" class="btn bg-Egyéb">Egyéb</a>
        <a href="/blogs/category/Súgó" class="btn bg-Súgó">Súgó</a>
      </section>

      <footer>
        <section class="social">
          <a href="https://twitter.com/SmartBeeWeb" target="_blank" rel="noreferrer">twitter</a>
          <a href="https://www.facebook.com/smartbeeweb" target="_blank" rel="noreferrer">facebook</a>
          <a href="https://www.linkedin.com/in/majoros-tamas/" target="_blank" rel="noreferrer">linkedin</a>
          <a href="https://www.instagram.com/smartbeeweboldalak/" target="_blank" rel="noreferrer">instagram</a>
        </section>
        <section class="copyright">
          <p>©️ 2019 <a href="https://smartbeeweb.hu" target="_blank" rel="noreferrer">Smart-Bee Web</a>
          </p>
          <br>
          <p>Inspired by <a href="https://flaviocopes.com" target="_blank" rel="noreferrer">Flavio Copes</a>.<span> 🙏</span></p>
        </section>
      </footer>
    </aside>
    <!-- A bal oldali "vezérlő" lezárása -->

    <!-- Maga a lényegi tartalom -->
    <article class="index">
      <ul>
        <% blogs.forEach(function(blog) { %> 
        <li class="post-preview">
          <a href="/blogs/<%= blog.id %>">
            <h3 class="post-title"><%= blog.title %></h3>
            <p class="post-description"><%= blog.subTitle %></p>
          </a>
          <div class="post-controller">
            <p>📅 <%= moment(blog.createdAt).format('YYYY. MM. D.') %></p>
            <a href="/blogs/category/<%= blog.category %>" class="btn bg-<%= blog.category %>" role="button"><%= blog.category %></a>
          </div>
        </li>
        <% }) %>
      </ul>
    </article>
    <!- Maga a lényegi tartalom lezárása -->

  </main>
  <!-- A "Main" szekció lezárása -->

  <a href="#page-top" id="back-to-top" class="back-to-top"><img src="/img/awesome/chevron-up.svg" alt="felfelé nyíl"></a>

  <!-- Twitter follower script -->
  <script>
    window.twttr = (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function (f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
  </script>

  <!-- Floating scroll script -->
  <script>
    var link = document.getElementById("back-to-top");
    var amountScrolled = 250;

    function addClass(el, className) {

      if (el.classList) {
        el.classList.add(className);
      } else {
        el.className += ' ' + className;
      }

    }

    function removeClass(el, className) {
      if (el.classList)
        el.classList.remove(className);
      else
        el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'),
          ' ');
    }

    window.addEventListener('scroll', function (e) {
      if (window.scrollY > amountScrolled) {
        addClass(link, 'show');
      } else {
        removeClass(link, 'show');
      }
    });
  </script>

  <!-- theme switch (light/dark) -->
  <script>
  document.addEventListener('DOMContentLoaded', (event) => {
  ((localStorage.getItem('mode') || 'dark') === 'dark') ? document.querySelector('body').classList.add('dark'):
  document.querySelector('body').classList.remove('dark')
  })
  </script>
</body>

</html>