<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="index,follow" />
    <meta
      name="description"
      content="A Smart-Bee Web minimalista blogja. Webfejlesztés, technológiák kezdőknek, egy junior szemén át."
    />
    <meta name="author" content="Majoros Tamás" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Smart-Bee Blog" />
    <meta
      property="og:description"
      content="A Smart-Bee Web minimalista blogja. Webfejlesztés, technológiák kezdőknek, egy junior szemén át."
    />
    <meta property="og:image" content="/img/blog_cover.jpg" />
    <meta property="og:url" content="https://smartbee.info" />

    <meta name="twitter:title" content="Smart-Bee Blog" />
    <meta
      name="twitter:description"
      content="A Smart-Bee Web minimalista blogja. Webfejlesztés, technológiák kezdőknek, egy junior szemén át."
    />
    <meta name="twitter:image" content="/img/blog_cover.jpg" />
    <meta name="twitter:site" content="@SmartBeeWeb" />
    <meta name="twitter:creator" content="@SmartBeeWeb" />
    <title>Smart-Bee Blog</title>
    <% moment.locale("hu") %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/img/icons/smart-bee.png" />
    <meta name="google-site-verification" content="vGo3kBx44lSryWLjxrV9UmeMVAWzYtn-0N6_ejOnaUg" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149255368-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-149255368-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  </head>

  <body id="page-top">
    <% include ../partials/header %>

    <!-- A "Main" szekció, maga az oldal a bal oldali sávval és a tartalom konténerrel -->
    <main>
      <!-- A bal oldali "vezérlő, segítő" panel. Bio, social buttons, kategóriák, copyright -->
      <% include ../partials/controller %>
      <!-- A bal oldali "vezérlő" lezárása -->

      <!-- Maga a lényegi tartalom -->
      <article>
        <ul>
          <% blogs.forEach(function(blog) { %> <% if (moment().format('YYYY.MM.DD.') >=
          moment(blog.createdAt).format('YYYY.MM.DD.')) { %>
          <li class="post-preview">
            <a href="/blogs/<%= blog.id %>">
              <h3 class="post-title"><%= blog.title %></h3>
              <p class="post-description"><%= blog.subTitle %></p>
            </a>
            <div class="post-controller">
              <p>
                📅 <%= moment(blog.createdAt).format('YYYY.MM.DD.') %>
              </p>
              <a href="/blogs/category/<%= blog.category %>" class="btn bg-<%= blog.category %>" role="button"
                ><%= blog.category %></a
              >
            </div>
          </li>
          <% } %> <% }) %>
        </ul>
      </article>
      <!-- Maga a lényegi tartalom lezárása -->
    </main>
    <!-- A "Main" szekció lezárása -->

    <!-- Floating button -->
    <div id="bottom-wrapper" class="bottom-wrapper">
      <section class="menubar">
        <div class="submenu-btn">
          <img src="/img/awesome/cogs.svg" alt="fogaskerekek" />
        </div>
        <div class="bottom-searchbar">
          <form action="/blogs" method="GET">
            <input type="search" name="search" id="searchbar" placeholder="Keresés cikkek címeiben" />
          </form>
        </div>
        <div class="go-up">
          <a href="#page-top" id="back-to-top" aria-label="oldal tetejére gomb" role="button" class="back-to-top"
            ><img src="/img/awesome/chevron-up.svg" alt="felfelé nyíl"
          /></a>
        </div>
      </section>
      <section class="categories">
        <a href="/blogs/category/Vállalkozás" class="btn bg-Vállalkozás">Vállalkozás</a>
        <a href="/blogs/category/Webfejlesztés" class="btn bg-Webfejlesztés">Webfejlesztés</a>
        <a href="/blogs/category/Svelte" class="btn bg-Svelte">Svelte</a>
        <a href="/blogs/category/Gondolatébresztő" class="btn bg-Gondolatébresztő">Gondolatébresztő</a>
        <a href="/blogs/category/Egyéb" class="btn bg-Egyéb">Egyéb</a>
        <a href="/blogs/category/Game" class="btn bg-Game">Game</a>
      </section>
    </div>
    <a href="#page-top" id="desktop-go-up" aria-label="oldal tetejére gomb" role="button" class="desktop-go-up"
      ><img src="/img/awesome/chevron-up.svg" alt="felfelé nyíl"
    /></a>

    <script>
      const menu = document.querySelector('.submenu-btn');
      const wrapper = document.querySelector('.bottom-wrapper');
      menu.addEventListener('click', () => {
        wrapper.classList.toggle('open');
      });
    </script>

    <!-- <a href="#page-top" id="back-to-top" class="back-to-top"
      ><img src="/img/awesome/chevron-up.svg" alt="felfelé nyíl"
    /></a> -->

    <!-- Floating scroll script -->
    <script>
      // const link = document.getElementById('page-top');
      const menubar = document.getElementById('bottom-wrapper');
      const goUp = document.querySelector('.desktop-go-up');
      const amountScrolled = 250;

      function addClass(el, className) {
        if (el.classList) {
          el.classList.add(className);
        } else {
          el.className += ' ' + className;
        }
      }

      function removeClass(el, className) {
        if (el.classList) el.classList.remove(className);
        else
          el.className = el.className.replace(
            new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'),
            ' '
          );
      }

      window.addEventListener('scroll', function(e) {
        if (window.scrollY > amountScrolled) {
          addClass(menubar, 'show');
          addClass(goUp, 'show');
        } else {
          removeClass(menubar, 'show');
          removeClass(goUp, 'show');
        }
      });
    </script>

    <!-- theme switch (light/dark) -->
    <script>
      document.addEventListener('DOMContentLoaded', event => {
        (localStorage.getItem('mode') || 'dark') === 'dark'
          ? document.querySelector('body').classList.add('dark')
          : document.querySelector('body').classList.remove('dark');
      });
    </script>
  </body>
</html>
